:root {
    --primary-red: #cc0000;
    --bg-light: #f8fafc;
    --text-main: #1e293b;
    --text-muted: #64748b;
    --white: #ffffff;
    --shadow-sm: 0 2px 4px rgba(0,0,0,0.05);
    --shadow-md: 0 8px 20px rgba(0,0,0,0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: var(--bg-light);
    padding: 30px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* BOTÃO VOLTAR */
.area-botao {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.btn-voltar {
    display: inline-block;
    background: #b30000;
    color: white;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 8px 20px rgba(179, 0, 0, 0.3);
    transition: 0.3s ease;
}

.btn-voltar:hover {
    background: #990000;
    transform: translateY(-2px);
}

.topo {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.info h1 {
    color: var(--text-main);
}

.info p {
    color: var(--primary-red);
    font-weight: bold;
}

.filtros-cardapio {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.filtros-cardapio select,
.filtros-cardapio input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.categoria-bloco {
    margin-bottom: 40px;
}

.categoria-titulo {
    font-size: 1.6rem;
    color: var(--text-main);
    margin-bottom: 20px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.menu-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    padding: 18px;
    border-radius: 14px;
    box-shadow: var(--shadow-sm);
    transition: 0.3s;
}

.menu-card:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-md);
}

.menu-info h3 {
    margin-bottom: 8px;
    color: var(--text-main);
}

.menu-info strong {
    color: var(--primary-red);
}

.menu-card img {
    width: 90px;
    height: 90px;
    border-radius: 12px;
    object-fit: cover;
}


footer {
    text-align: center;
    padding: 30px;
    color: var(--text-muted);
    margin-top: 40px;
}

@media (max-width: 768px) {
    .menu {
        grid-template-columns: 1fr;
    }

    .filtros-cardapio {
        flex-direction: column;
    }
}

